@import '../../index.scss';


.news{
    padding: 60px 0 30px;
    .icon{ 
        i{
            font-size: 40px;
            width: 100px;
            height: 100px;
            background-color: $escClr;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $textClr;
            @include borderRadius(50%);
        }
    }
    .title{
        h3{
            font-weight: bold;
        }
    }
    span{
    background-color: $escClr;
        i{
            color: $textClr;
        }
    }
}

@media screen and (max-width:767px){
    .news{
        width: 98%;
        margin: auto;
        text-align: center;
        .icon {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    }

    @media screen and (min-width:768px) and (max-width:991px){
        .news{
            text-align: center;
            .icon {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
            }
        }
      }