@import '../../index.scss';

.pageNav{
    .logo{
        width: 5%;
        img{
           max-width: 100%;  
        }
    }
    .myBtn{ 
        background-color:$escClr ;
        border: 1px solid $escClr;
        transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        -ms-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        &:hover{
            background-color:  $secbg;
            color:  $textClr;
            border: 1px solid transparent;
        }
    }
}